*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin: 30px;
}
.bienvenue {
  margin: 15px;
}

.Logo {
  display: flex;
}
p {
  color: #ffa01b;
  text-align: center;
  font-family: Amatic SC;
  font-size: 110px;
  font-style: normal;
  font-weight: 700;
  line-height: 115px; /* 104.545% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

img {
  height: 150px;
  width: 200px;
}

hr {
  width: 400px;
  height: 3px;
  flex-shrink: 0;
  border: 1px solid #f56a2c;
  background: #f56a2c;
  margin: 25px;
}

h1 {
  color: #fff;
  text-align: center;
  font-family: Amatic SC;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 61px; /* 127.083% */
}

h2 {
  color: #fff;
  text-align: center;
  font-family: Amatic SC;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 127.778% */
}

.input-with-icon {
  width: 400px;
  height: 55px;
  display: inline-flex;
  padding: 24px;
  align-items: center;
  margin: 25px;
  border-radius: 5px;
  background: #fff;
}
.bsperson {
  margin: 5px;
  color: grey;
}
form input {
  background: none;
  border: none;
  color: black;
  width: 100%;
}

.button-with-icon {
  width: 400px;
  height: 53px;
  border-radius: 5px;
  border: 1px solid #ff9f1b;
  background: #ff9f1b;
  display: flex;
  justify-content: center;
  align-items: center;
}
form button {
  background: none;
  text-align: center;
}
.wrapper-form {
    
  width: 450px;
  height: 550px;
  background: transparent;
  border: 2px solid #ff9f1b;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  /* justify-content: center;
  align-items: center; */
  margin: 25px;
}
