body {
background-image: url('../src/assets/images/F03 burger-background.jpg'); /* Chemin relatif vers votre image */

background-size: cover; /* Ajuste la taille de l'image pour couvrir tout le fond */
background-position: center; /* Centre l'image à l'écran */
/* Ajoutez d'autres styles pour le positionnement et le formatage de votre contenu */



}

/* body::after {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(0, 0, 0, 0.7);
content: "";
} */
