.login-page {
  background-image: url("../src/assets/images/F03 burger-background.jpg"); /* Chemin relatif vers image */

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center;
  background-blend-mode: darken;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
