.logo {
    display: flex;
  }
  h1 {
    color: #fff;
    text-align: center;
    font-family: Amatic SC;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px; /* 127.083% */
  }
  
  h2 {
    color: #fff;
    text-align: center;
    font-family: Amatic SC;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px; /* 127.778% */
  }